<footer>
  <div id='footer' class='container-fluid py-3'>
    <div class='row'>
      <!-- Need to make this row division disappear if size shrinks. -->
      <div class='col-12 offset-md-4 col-md-2 text-center-small text-right'>
        <p class='hold-font-size'>This website is a collaborative project maintained by <a class='footer-text-link' href="https://rmrm.io">Miles McCain</a>.
          View the contributors <a class='footer-text-link' href="/CONTRIBUTORS">here</a>.
          <br />View the Project on <a class='footer-text-link' href="{{ site.github.repository_url }}">GitHub</a></p>
      </div>
      <div class='col-12 col-md-2 text-center-small'>
        {% include license.html %}
      </div>
    </div>
    <div class='text-center'>
      <p class='hold-font-size'><small>Hosted on GitHub Pages.</small></p>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
