<footer>
  <div id='footer' class='container-fluid py-3 text-white'>
    <div class='row justify-content-center'>
      <div class='col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5'>
        <p class='hold-font-size text-center'>This website is a collaborative project maintained by <a class='footer-text-link' href="https://rmrm.io">Miles McCain</a>.
          View the contributors <a class='footer-text-link' href="{{ '/CONTRIBUTORS' | relative_url }}">here</a>.
          <br />View the Project on <a class='footer-text-link' href="{{ site.github.repository_url }}">GitHub</a></p>
      </div>
    </div>
    <div class='row justify-content-center'>
      <div class='col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5'>
        {% include license.html %}
      </div>
    </div>
    <div class='text-center'>
      <p class='hold-font-size'><small>Hosted on GitHub Pages.</small></p>
    </div>
  </div>
</footer>
