<footer>
  <div id='footer' class='container-fluid py-3'>
    <div class='row'>
      <!-- Need to make this row division disappear if size shrinks. -->
      <div class='col-12 offset-md-4 col-md-2 text-center-small text-right'>
        <p>This website is a collaborative project maintained by <a href="https://rmrm.io">Miles McCain</a>. View the contributors <a href="/CONTRIBUTORS.html">here</a>.</p>
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
      </div>
      <div class='col-12 col-md-2 text-center-small'>
        {% include license.html %}
      </div>
    </div>
    <div class='text-center'>
      <p><small>Hosted on GitHub Pages.</small></p>
    </div>
  </div>
</footer>
