<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">

<script defer src="{{ '/assets/js/jquery-3.4.1.slim.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script defer src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<link rel="shortcut icon" href="{{ '/assets/icon.png' | relative_url }}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
