<header>
  <div class='container-fluid py-5 bg-primary text-white'>
    <div class='text-center'>
      <h1 id='title' class='display-2 pt-4'><a class='title-link' href="{{ site.url }}">Why Privacy Matters</a></h1>
    </div>
  </div>

  <div class='container-fluid py-3 bg text-white'>
    <div class='text-center container head-container'>
      <p class='pt-3'>The ability to maintain privacy from governments, corporations, and our peers is fundamental to a free, democratic, and equitable society.</p>
      <p>WhyPrivacyMatters.org aims to collect easily understandable reasons why privacy matters in simple language.</p>
      <p><a class='text-link' href="why">Learn more about why this site was created.</a></p>
    </div>
  </div>
</header>
