<div class='container py-4'>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Language
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/translations/es">Español</a>
      <a class="dropdown-item" href="/translations/fr">Français</a>
      <a class="dropdown-item" href="/translations/ru">Русский</a>
      <a class="dropdown-item" href="/translations/de">Deutsch</a>
      <a class="dropdown-item" href="/translations/nl">Nederlands</a>
      <a class="dropdown-item" href="/translations/pt">Português</a>
      <a class="dropdown-item" href="/translations/pl">Polski</a>
      <a class="dropdown-item" href="/translations/da">Dansk</a>
      <a class="dropdown-item" href="/translations/sk">Slovenčina</a>
      <a class="dropdown-item" href="/translations/ua">Українська</a>
      <a class="dropdown-item" href="/translations/sq">Shqip</a>
      <a class="dropdown-item" href="/translations/eo">Esperanto</a>
      <a class="dropdown-item" href="/translations/ca">Catalan</a>
      <a class="dropdown-item" href="/translations/sv">Svenska</a>
    </div>
  </div>
</div>
