<p>
  <i>
    Translations:
    <a href="/translations/es.html">Español</a>,
    <a href="/translations/fr.html">Français</a>,
    <a href="/translations/ru.html">Русский</a>,
    <a href="/translations/de.html">Deutsch</a>,
    <a href="/translations/nl.html">Nederlands</a>,
    <a href="/translations/pt.html">Português</a>,
    <a href="/translations/pl.html">Polski</a>,
    <a href="/translations/da.html">Dansk</a>,
    <a href="/translations/sk.html">Slovenčina</a>,
    <a href="/translations/ua.html">Українська</a>,
    <a href="/translations/sq.html">Shqip</a>,
    <a href="/translations/eo.html">Esperanto</a>,
    <a href="/translations/ca.html">Catalan</a>
  </i>
</p>
