#footer {
  background-color: #d6d6d6;
}

@media only screen and (max-width: 768px) {
    .text-center-small {
        text-align: center !important;
    }
}

.footer-text-link {
  border-bottom: 1px dotted #999999;
}

a.footer-text-link:link, a.footer-text-link:visited {
  color: black;
  text-decoration: none;
}

a.footer-text-link:hover, a.footer-text-link:active {
  border-bottom: 1px dotted black;
}
