#footer {
  background-color: darken($primary, 5);
}

@media only screen and (max-width: 768px) {
    .text-center-small {
        text-align: center !important;
    }
}

.hold-font-size {
  font-size: 1em;
}