p {
  font-family: 'Cabin', sans-serif;
}

#footer {
  background-color: #d6d6d6;
}

@media only screen and (max-width: 768px) {
    .text-center-small {
        text-align: center !important;
    }
}
