body {
  background-color: #f6f6f6;
}

h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

h4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.3em;
}

p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.05em;
}

strong {
  font-weight: 700;
}

.main-container {
  width: 40%;
  min-width: 200px;
}

@media only screen and (max-width: 1200px) {
    .main-container {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .main-container {
        width: 60%;
    }
}

@media only screen and (max-width: 768px) {
    .main-container {
        width: 75%;
    }
}

@media only screen and (max-width: 576px) {
    .main-container {
        width: 90%;
    }
}
