#eye {
  margin: 100px auto 0px auto;
  animation: squeeze 2.3s infinite;
  display: block;
}

#inner {
  animation: blink 2.3s infinite;
}

@keyframes blink {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(30px) scaleY(0);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
@keyframes squeeze {
  90% {
    transform: none;
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(3px) scaleY(0.8);
  }
  100% {
    animation-timing-function: ease-out;
  }
}
