<!doctype html>
<html lang="{{ page.lang | default: 'en-US' }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include lang.html %}
    {% include header.html %}
    <section class='container main-container text-white'>
      <div class='pb-5 pt-2'>
        {{ content }}
      </div>
    </section>
    {% include footer.html %}
    <noscript><img src="//shynet.rmrm.io/ingress/70387d79-5592-44bb-8ce5-3795eb7ae42f/pixel.gif"></noscript> <script src="//shynet.rmrm.io/ingress/70387d79-5592-44bb-8ce5-3795eb7ae42f/script.js"></script>
  </body>
</html>
